@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(24, 24, 24);
    color: white;
}
nav{
    margin: 2% 0;
    text-align: center;
   
}
nav > h1{
    font-family: "Doto", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
    "ROND" 0;
    border: solid 3px white;
    display: inline;
    margin: auto;
}
main{
    margin: 10px 0;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}
article{
    margin: 3% 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
article > h2{
    width: 33%;
    text-align: center;
    font-size: 25px;

}
article > h3{
    width: 33%;
    font-size: 25px;
    
}
@media (max-width: 765px) {
    article{
        flex-direction: column;
    }
    article > h2{
        width: 100%;
    }
    article > h3{
        width: 100%;
        text-align: center;
    }
}